
*.sln
*.vcxproj
*.user
*.filters
2D_ver1.0/debug/sample-framework.exe
2D_ver1.0/debug/sample-framework.ilk
2D_ver1.0/debug/sample-framework.pdb
2D_ver1.0/debug/qmake/qtvars_x64_Debug.props
2D_ver1.0/debug/qmake/temp/C6998DB7-1FB2-3BB6-95FB-BC8CA942EB7E.sample-framework.designtime.idx
2D_ver1.0/debug/qmake/temp/props.txt
2D_ver1.0/debug/qmake/temp/qtvars.log
2D_ver1.0/debug/qmake/temp/qtvars.pro
2D_ver1.0/debug/qmake/temp/qtvars_x64_Debug.props
